* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-transform: uppercase;
}
#canvas {
    display: block;
}

.container {
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    border: DarkGrey solid 1px;
    border-radius: 4px;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.2);
}

.input-text {
    height: 28px;
    border-radius: 4px;
}

.control {
    padding: 20px;
}

.button {
    outline: 0;
    color: antiquewhite;
}

.button_size_s {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    outline: none;
}

.button_color_green {
    background-color: OliveDrab;
}

.button_color_red {
    background-color: Crimson;
    color: ghostwhite;
}

.popup {
    top: 10%;
    left: 50%;
    margin-left:-200px;
    padding: 20px;
    position: fixed;
    height: 200px;
    width: 400px;
    border: DarkGrey solid 1px;
    border-radius: 4px;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.2);
    background: ghostwhite;
    z-index:1;
}

#popup__errorMessage {
    position: relative;
    height: 80px;
}

.popup__button {
    display: block;
    margin: 0 auto;
}
#popup-wrapper {
    display: none;
    left: 0;
    top: 0;
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index:100;
}

